@charset "utf-8";

// Import things we want to change
@import "../node_modules/bulma/sass/utilities/initial-variables.sass";

// Set your brand colors
$yellow-pantone: #FFE033;
$green-kelly: #33C10B;
$red-pigment: #F92929;
$red-rufous: #9E0505;
$blue-jeans: #5BAFEC;
$blue-tufts: #1A8FE3;
$blue-saphire: #255F85;

// Update Bulma's global variables
$primary: $blue-saphire;
$info: $blue-jeans;
$link: $blue-tufts;
$success: $green-kelly;
$warning: $yellow-pantone;

// Update some of Bulma's component variables
$navbar-breakpoint: $tablet;

// Import all of Bulma
@import "../node_modules/bulma/bulma.sass";



// External Components

// Import Bulma Tooltip
@import "../node_modules/@creativebulma/bulma-tooltip/src/sass/index.sass";

// Bulma Divider
@import "../node_modules/@creativebulma/bulma-divider/src/sass/index.sass";



// Bulma Responsive Tables
@import "../node_modules/bulma-responsive-tables/bulma-responsive-tables";
 
// Bulma Responsive Tables
@import "node_modules/bulma/bulma";



// Set external component variables
$divider-background-color: $dark;