{% extends "keys/base_minimal.html" %}

{% load widget_tweaks %}

{% block additional_css %}
    {% load static %}
    <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}Login | Schlüsselsystem{% endblock %}

{% block content %}
    <div class="container is-max-desktop">
        <div class="block content">
            <h1 class="title is-2">Anmeldung erforderlich</h1>
            {{ request.META.HTTP_REFERER }}
            {% if user.is_authenticated %}
                <p>
                    Es scheint, als hätte Ihr Konto keinen Zugang zu dieser Seite.
                    Wenn Sie glauben, dass es sich hierbei um einen Fehler handelt, wenden Sie sich bitte an das Rerferat für IT oder versuchen Sie es später erneut.
                </p>
            {% else %}
            <p>
                Im nächsten Schritt werden sie auf die Gitlab-Instanz der TU-Hamburg weitergeleitet. Dort melden sie sich mit Ihrer Rechenzentrums-Kennung an.
                Beim ersten Mal werden Sie aufgefordert werden diese Anwendung zu Authorisieren.
            </p>
            {% endif %}
            <p>
                Nach erfolgreicher Anmeldung werden Sie auf die Startseite zurückgeleitet.
            </p>
            <div class="buttons is-right">
                <a class="button is-outlined" href={% url 'keys:home' %}>Zurück</a>
                <a class="button is-primary" href={% url 'oidc_authentication_init' %}>
                    <span class="icon">
                        <i class="fab fa-gitlab"></i>
                    </span>
                    <span>
                        Anmelden
                    </span>
                </a>
            </div>
        </div>
    </div>

{% endblock %}
