nav,
.main,
footer {
    display: none;
}

body {
    display: block;
    margin: 0px;
    background: rgb(204, 204, 204);
}

page {
    background: white;
    display: block;
    font-size: 12pt;
    margin: 0px;
    margin-bottom: 0.5cm;
}

.letter {
    padding-left: 0.7cm;
    padding-right: 0cm;
    padding-top: 0.3cm;
}

.layout {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 2.8fr 1.2fr;
    gap: 0.7cm 0.5cm;
    grid-template-areas:
        ". . logo"
        "head . aside"
        "body body aside"
        "footer footer footer";
}
.logo {
    grid-area: logo;
}

.head {
    grid-area: head;
}

.body {
    grid-area: body;
}
.body > .date {
    text-align: right;
    font-weight: bold;
}

.body > .signature {
    margin-top: 0px;
}

.aside {
    grid-area: aside;
    font-size: 10pt;
    text-align: right;
    position: relative;
}
.aside > .user {
    position: absolute;
    bottom: 0;
    right: 0;
}

.footer {
    grid-area: footer;
    border-top-style: dashed;
    border-top-width: 2px;
}

/* Fonts */
h1 {
    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}
h2 {
    font-family: Ubuntu;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 15.4px;
}
p {
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}
li {
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}