{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="columns is-mobile is-centered">
        <div class="column is-narrow-tablet">
            <h1 class="title">{{ question.question_text }}</h1>
            <h2 class="subtitle">You can only choose one.</h2>

            {% if error_message %}
                <article class="message is-warning">
                    <div class="message-header">
                        <p>Error</p>
                        <button class="delete" aria-label="delete"></button>
                    </div>
                    <div class="message-body">{{ error_message }}</div>
                </article>
            {% endif %}


            <form action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
                <div class="control">
                    <label class="radio">
                        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                            {{ choice.choice_text }}
                        </label>
                </div>
            {% endfor %}
            <br>
            <button class="button is-primary" type="submit">Vote</butto>
            </form>

            </div>
        </div>

    </div>
</section>

{% endblock %}
