<!DOCTYPE html>
<html lang="de">
    <head>
        {% load static %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no viewport-fit=cover">
        <meta name="description" content="Schlüsselverwaltungssystem des AStAs der TU-Hamburg.">
        <title>{% block title %}{% endblock %}</title>

        <!-- Favicon -->
        <link rel="icon" type='image/png' href="{% static 'keys/images/favicon.png' %}">

        <!-- CSS -->
        <link rel="stylesheet" media="screen" href="{% static 'css/custom-bulma.css' %}">
        <link rel="stylesheet" media="screen" href="{% static 'css/additional-styles.css' %}">
        {% block additional_css%}{% endblock %}
    </head>

    <body class="is-flex is-flex-direction-column">
        <!-- Navbar-->
        <nav class="navbar is-dark" aria-label="Navigationsleiste">
            <div class="container is-max-widescreen safe-nav">
                <div class="navbar-brand">
                    <a class="navbar-item logo" aria-label="Startseite" href="{% url 'keys:home' %}">
                        {% include 'keys/logo.svg' %}
                    </a>
                    <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false" >
                        <!--Hamburger Button-->
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
                <div class="navbar-menu" aria-label="Navigations-Links" id="navMenu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="{% url 'keys:person-list' %}">Personen</a>
                        <a class="navbar-item" href="{% url 'keys:room-list' %}">Räume</a>
                        <a class="navbar-item" href="{% url 'keys:key-list' %}">Schlüssel</a>
                        <a class="navbar-item" href="{% url 'keys:issue-list' %}">Ausleihen</a>
                    </div>
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <a class="button admin-button is-light is-outlined" id="admin-button" href="{% url 'admin:index' %}">Administration</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <!--Main -->
        <section class="section main is-flex-grow-1 safe-body" aria-label="Hauptteil">
            {% block content %}{% endblock %}
        </section>

        <!-- Footer -->
        <footer class="footer safe-body" aria-label="Fußbereich">
            <div class="content has-text-centered">
                <span aria-label="Lizenzinformationen">
                    <a href="https://asta-tuhh.de/euer_asta/it/">TinTin's </a><strong>Schlüsselverwaltungssystem</strong>. <a href="https://collaborating.tuhh.de/asta/verwaltung">Quelltext</a> unter der
                    <a href="https://www.gnu.org/licenses/agpl-3.0.html">AGPL 3.0</a>.
                </span>
                {% if user.is_authenticated %}
                    <br>
                    <span aria-label="Anmeldestatus">
                        <strong>Benutzer:</strong> {{ user.username }} -
                        <a class="has-text-primary" href="{% url 'logout' %}?next=/">Abmelden</a>
                    </span>
                {% endif %}
                </p>
            </div>
        </footer>

        <!-- Print-->
        {% block print %}{% endblock %}


         <!-- JS -->
        <script src={% static 'js/main.js' %}></script>
        {% block additional_js %}{% endblock %}
    </body>
</html>



