{% extends "keys/base_minimal.html" %}

{% block title %}Kaution für {{ person }} hinzufügen | Schlüsselsystem{% endblock %}

{% load widget_tweaks %}
{% load humanize %}

{% block content %}
<div class="container is-max-desktop">

    <h1 class="title is-2">Kaution von {{ person }}</h1>

    <form method='post' autocomplete="off">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <article class="message is-danger">
            <div class="message-body">
                {{ form.non_field_errors }}
            </div>
        </article>
        {% endif %}

        <div class="field">
            <label class="label" for="{{ field.id_for_label }}">{{ form.amount.label_tag }}</label>
            <div class="field has-addons">
                <p class="control">
                    {% if not form.amount.errors %}
                        {{ form.amount|add_class:"input has-addons has_addons-left"|attr:"type:number" }}
                    {% else %}
                        {{ form.amount|add_class:"input has-addons has_addons-left is-danger"}}
                    {% endif %}
                </p>
                <p class="control">
                    <span class="select">
                        {{ form.currency }}
                    </span>
                </p>
            </div>
            {% for error in form.amount.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>
        <div class="field">
            <label class="label" for="{{ field.id_for_label }}">{{ form.in_method.label_tag }}</label>
            <div class="field has-addons">
                <div class="select">
                    {% if not form.in_method.errors %}
                        {{ form.in_method|add_class:"select" }}
                    {% else %}
                        {{ form.in_method|add_class:"select"}}
                    {% endif %}

                    {% for error in form.in_method.errors %}
                        <p class="help is-danger">{{ error }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label is-light" for="{{ form.comment.id_for_label }}">Kommentar:</label>
            <div class="control">
                {% if not form.comment.errors %}
                    {{ form.comment |add_class:"textarea has-fixed-size is-light" |attr:"placeholder:Optionaler Kommentar zur Kaution..." }}
                {% else %}
                        {{ form.comment |add_class:"textarea has-fixed-size is-danger" }}
                {% endif %}
            </div>
            {% for error in form.comment.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>



        <span class="buttons is-right">
            <a class="button" href={% url 'keys:person-detail' pk=person.id %}>Abbrechen</a >
            <input class="button is-primary" type="submit" value="Hinzufügen">
        </span>
    </form>
</div>
{% endblock %}
