{% extends "keys/base.html" %}

{% block title %}Kaution {{ deposit.get_state }} - {{ deposit.person}}{% endblock %}

{%block navbar_items %}
    <a class="navbar-item is-active" href="{% url 'keys:person-list' %}">Personen</a>
    <a class="navbar-item" href="{% url 'keys:room-list' %}">Räume</a>
    <a class="navbar-item" href="{% url 'keys:key-list' %}">Schlüssel</a>
    <a class="navbar-item" href="{% url 'keys:issue-list' %}">Ausleihen</a>
{% endblock %}

{% block content %}
    <div class="container is-max-desktop">

        {% if messages %}
            {% for message in messages %}
            <article class="message is-success noprint">
                <div class="message-body">
                    {{ message }}
                </div>
            </article>
            {% endfor %}
        {% endif %}

        <h1 class='title is-2'>Kaution von {{ deposit.person }}</h1>

        <div class="content">
            <p><strong>Betrag:</strong> <span class="tag is-info"><b>{{ deposit.amount }} {{ deposit.currency }}</b></span></p>
            <div class="columns">
                <div class="column">
                    <p><strong>Eingezahlt am:</strong> {{ deposit.in_datetime|date:"l, d. F Y"}} um {{ deposit.in_datetime |date:"G:i"}} <span class="tag is-light"><b>{{ deposit.get_in_method }}</b></span></p>
                </div>
                {% if deposit.retained_datetime %} {% comment %}This should stay even if returned{% endcomment %}
                <div class="divider is-vertical is-right"></div>
                <hr>
                <div class="column">
                    <p><strong>Einbehalten am:</strong> {{ deposit.retained_datetime|date:"l, d. F Y"}} um {{ deposit.retained_datetime |date:"G:i"}}</p>
                </div>
                {% endif %}
                {% if deposit.state == 'out' %}
                <div class="divider is-vertical is-right" style="margin-left: 5px;margin-right: 5px;"></div>
                <hr>
                <div class="column">
                    <p><strong>Ausgezahlt am:</strong> {{ deposit.out_datetime|date:"l, d. F Y"}} um {{ deposit.out_datetime |date:"G:i"}} <span class="tag is-light"><b>{{ deposit.get_out_method }}</b></span></p>

                </div>
                {% endif %}
            </div>

            {% if deposit.comment %}
                <hr>
                <p><strong>Kommentar:</strong> {{ deposit.comment }}</p>
            {% endif %}
        </div>

        <nav class="level is-max-desktop noprint">
            <div class="level-left">
                <div class="level-item">
                    <a class="button" href={% url 'keys:person-detail' pk=deposit.person.id %}>Zurück zur Person</a>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <button class="button is-info" id="print">Bestätigung drucken</button>
                </div>
                {% if deposit.state == 'in' %}
                    <div class="level-item">
                        <a class="button is-warning" href={% url 'keys:deposit-retain' pk_p=deposit.person.id pk_d=deposit.id  %}>Einbehalten</a>
                    </div>
                    <div class="level-item">
                        <a class="button is-primary" href={% url 'keys:deposit-return' pk_p=deposit.person.id pk_d=deposit.id %}>Zurückgeben</a>
                    </div>
                {% elif deposit.state == 'retained' %}
                    <div class="level-item">
                        <a class="button is-warning" href={% url 'keys:deposit-return' pk_p=deposit.person.id pk_d=deposit.id %}>Zurückgeben</a>
                    </div>
                {% endif %}
            </div>
        </nav>
    </div>
{% endblock %}

<!-- Print -->
{% block additional_css %}
    {% load static %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" media="print" href="{% static 'css/print.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    {% endblock %}

{% block print %}
    {% include 'keys/deposit_detail_print.html' %}
{% endblock %}



