<div class="print" >
    <page size="A4">
        <div class="letter layout">
            <div class="logo">
                <div class="asta-logo">
                    {% include 'keys/asta_logo.html' %}
                </div>
            </div>
            <div class="head">
                <p>Allgeiner Studierendenausschuss der TUHH</p>
                <svg width="162px" height="2px" viewBox="0 0 162 2" version="1.1" xmlns="http://www.w3.org/2000/svg" >
                    <line x1="1" y1="1" x2="161" y2="1" id="Line" stroke="black"></line>
                </svg>
                <p>
                    {{ deposit.person }}, {{ deposit.person.group }}<br>
                    {{ deposit.person.university_email }}<br>
                    {{ deposit.person.phone_number }}<br>
                </p>
            </div>
            <div class="body">
                <h1>Schlüsselausgabe</h1>
                <p>Hiermit bestätige ich, {{ deposit.person }} am {{ deposit.out_date }} folgenden Schlüssel ausgehändigt bekommen zu haben:</p>

                <ul>
                    <li>{{ deposit.key }}</li>
                </ul>

                {% if deposit.person.get_active_deposits.count > 1 %}
                    <p>Ausserdem habe ich noch folgende andere Schlüssel in meinem Besitz:</p>
                    <ul>
                        {% for key in deposit.person.get_current_deposits %}
                            <li>{{ key }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if deposit.person.get_active_deposit %}
                    <p>Am {{ deposit.person.get_active_deposit.in_datetime }} wurde eine Kaution von {{ deposit.person.get_active_deposit.amount }} {{ deposit.person.get_active_deposit.currency }} {{ deposit.person.get_active_deposit.get_in_method }} hinterlegt.</p>
                {% else %}
                    <p>Es wurde keine Kaution hinterlegt.</p>
                {% endif %}
                <br>
                <svg width="162px" height="2px" viewBox="0 0 162 2" version="1.1" xmlns="http://www.w3.org/2000/svg" >
                    <line x1="1" y1="1" x2="161" y2="1" id="Line" stroke="black"></line>
                </svg>
                <p class="signature">Unterschrift {{ deposit.person }}</p>
            </div>
            <div class="aside">
                <p class="adress">
                    AStA der TU Hamburg<br>
                    Am Schwarzenberg-Campus 3<br>
                    21075 Hamburg<br>
                    <br>
                    (040) 42878 3764<br>
                    sekreteriat@asta.tuhh.de
                </p>
                <p class="date">
                    {% now "l, j. F Y" %}
                </p>

                <p class="user">
                    {{ user.first_name }} {{ user.last_name }}<br>
                    {{ user.email }}
                </p>
            </div>

            <div class="footer">
                <h2>Quittung</h2>
                <div class="columns">
                    <div class="column">
                        <p>
                            Am {% now "l, j. F Y" %} wurde {{ deposit.person }} der {{ deposit.key }} ausgehändigt.
                        </p>
                        {% if deposit.person.get_active_deposit %}
                            <p>
                                Eine Kaution von {{ deposit.person.get_active_deposit.amount }} {{ deposit.person.get_active_deposit.currency }} ist hinterlegt.
                            </p>
                        {% else %}
                            <p>
                                Es ist keine Kaution hinterlegt.
                            </p>
                        {% endif %}
                        <br>
                        <svg width="252px" height="2px" viewBox="0 0 252 2" version="1.1" xmlns="http://www.w3.org/2000/svg" >
                            <line x1="1" y1="1" x2="251" y2="1" id="Line" stroke="black"></line>
                        </svg>
                        <p class="signature">Datum, Unterschrift, Stempel (AStA)</p>
                    </div>
                    <div class="column is-fith">
                        {% include 'keys/asta_logo.html' %}
                    </div>
                </div>
            </div>
        </div>
    </page>
</div>
