{% extends "keys/base.html" %}

{% block title %}Dashboard | Schlüsselsystem{% endblock %}


{% block content %}
<div class="container is-max-widescreen">
	{% if user.is_authenticated %}

		<div class="section">
			<div class="block">
			    <h1 class="title is-2">Dashboard</h1>
			    <p class="text">Wilkommen, {{ user.username }}! Das hier ist unser neues Schlüsselsystem. Toll oder?</p>
			</div>
	   		<div class="grid-container mb-6">
				<div class="issues box has-background-light">
					<div class="content">
				        <p class="title mb-4">Ausleihen</p>
				        {% if issue_list %}
					        <table class="table is-hoverable" style="background-color: whitesmoke;">
						        <thead>
				                    <th>Schlüssel</th>
				                        <th>Person</th>
				                    </thead>
				                <tbody>
				                    {% for issue in issue_list %}
				                        <tr style="cursor:pointer;" onclick="location.href='{{ issue.get_absolute_url }}'">
				                            <td>
				                                {{ issue.key }}
				                            </td>
				                            <td>
				                                {{ issue.person }}
				                            </td>
				                        </tr>
				                    {% endfor %}
				                </tbody>
					        </table>
					    {% else %}
					        <p>Keine aktiven Ausleihen.</p>
					    {% endif %}
				    </div>
				</div>
				<div class="shortcuts-container">
					<div class="box">
					    <div class="asta">
					    	<h1 class="title">Kurzbefehle</h1>
					    	<div class="columns">
					    		<div class="column is-one-third">
					    			<p class="title is-4">AStA:</p>
					    		</div>
						    	<div class="column">
						       		<div class="content">
									 	<a href="{% url 'keys:room-search-results' %}?group=AStA">
									 		<span class="tag is-medium is-light">Räume</span>
									 	</a>
									 	<a href="{% url 'keys:person-search-results' %}?group=AStA">
									 		<span class="tag is-medium is-dark">Personen</span>
									 	</a>
									</div>
						    	</div>
						    </div>
					    </div>
					    <div class="divider is-right" style="margin: 1rem 1rem"></div>
					    <div class="fsr">
					 		<div class="columns">
					    		<div class="column is-one-third">
					    			<p class="title is-4">FSRe:</p>
					    		</div>
						    	<div class="column">
						       		<div class="content block">
									 	<a href="{% url 'keys:room-search-results' %}?group=FSR">
									 		<span class="tag is-medium is-light">Räume</span>
									 	</a>
									 	<a href="{% url 'keys:person-search-results' %}?group=FSR">
									 		<span class="tag is-medium is-dark">Personen</span>
									 	</a>
									</div>
						    	</div>
						    </div>
					    </div>
					    <div class="divider is-right" style="margin: 1rem 1rem"></div>
					    <div class="ag">
					    	<div class="columns">
					    		<div class="column is-one-third">
					    			<p class="title is-4">AGs:</p>
					    		</div>
						    	<div class="column">
						       		<div class="content">
									 	<a href="{% url 'keys:room-search-results' %}?group=AG">
									 		<span class="tag is-medium is-light">Räume</span>
									 	</a>
									 	<a href="{% url 'keys:person-search-results' %}?group=AG">
									 		<span class="tag is-medium is-dark">Personen</span>
									 	</a>
									</div>
						    	</div>
						    </div>
						</div>
				    </div>
			  	</div>
			 	<div class="person-search">
			 		<div class="box has-background-primary">
			 			<p class="title is-4 has-text-light">Personensuche</p>
		  				<form action={% url 'keys:person-search-results' %} method='get'>
		  					<div class="field has-addons">
		                    	<div class="control is-expanded">
		                            <input class="input is-fullwidth" name='q' type="text" placeholder="Vor-/Nachname/Gruppe" required>
		                    	</div>
		                    	<div class="control">
			                        <button type='submit' class="button is-info">Suchen</button>
		                		</div>
							</div>
						</form>
					</div>
			 	</div>
				<div class="key-search">
					<div class="box has-background-light">
			 			<p class="title is-4">Schlüsselsuche</p>
						<form action={% url 'keys:key-search-results' %} method='get'>
		  					<div class="field has-addons">
		                    	<div class="control is-expanded">
		                            <input class="input is-fullwidth" name='q' type="text" placeholder="Schlüsselnr./Modell" required>
		                    	</div>
		                    	<div class="control">
			                        <button type='submit' class="button is-info">Suchen</button>
		                		</div>
							</div>
						</form>
					</div>
				</div>
			 	<div class="statistics box">
			 		<p class="title">Statistiken</p>
		        	<div class="columns">
		        		<div class="column key" style="padding-left: 0.75rem;padding-bottom: 0.75rem;">
			        		<div class="content">
			          			<p class="title is-5 mb-2">Schlüssel</p>
		          				<p>
		          					Gesamtzahl: {{ keys.count }}<br>
		          					Ausgeliehen: {{ keys.currently_issued.count }}&nbsp;({{ keys.currently_issued_percent }}%)<br>
		          					Verloren: {{ keys.stolen_or_lost.count }}&nbsp;({{ keys.stolen_or_lost_percent }}%)<br>
			          			</p>
			          		</div>
			          	</div>
						
						
						<hr class="person">
						<div class="person divider is-vertical is-right" style="margin-left: 5px;margin-right: 5px;"></div>
		        		<div class="column person" style="padding-left: 0.75rem;padding-bottom: 0.75rem;">
			        		<div class="content">
			          			<p class="title is-5 mb-2">Personen</p>
			          			<p>
			          				Gesamtzahl: {{ people.count }}<br>
			          				Kaution bezahlt: {{ people.paid_deposit.count }}&nbsp;({{ people.paid_deposit_percent }}%)<br>
			          				Mit Ausleihen: {{ people.active_issues.count }}&nbsp;({{ people.active_issues_percent }}%)<br>
			          			</p>
			          		</div>
			          	</div>
						
						<hr class="room">
						<div class="room divider is-vertical is-right" style="margin-left: 5px;margin-right: 5px;"></div>
		        		
		        		<div class="column room" style="padding-left: 0.75rem;padding-bottom: 0.75rem;">
			        		<div class="content">
			        			<p class="title is-5 mb-2">Räume</p>
			          			<p>
			          				Gesamtzahl: {{ rooms.all.count }}<br>
			          				AStA: {{ rooms.of_asta.count }}&nbsp;({{ rooms.of_asta_percent }}%)<br>
			          				FSRe: {{ rooms.of_fsr.count }}&nbsp;({{ rooms.of_fsr_percent }}%)
			          			</p>
			          		</div>
		        		</div>
		        	</div>
		 		</div>
				
			</div>
		</div>
	{% else %}
	    <h1 class="title">Wilkommen!</h1>
	    <p class="content">Das hier ist das neue Schlüsselsystem des AStAs.</p>
	    <p class="content">Bitte melden Sie sich an.</p>
	    <a class="button is-primary is-right" href="{% url 'login' %}?next=/">Anmelden</a>
	{% endif %}

</div>

{% endblock %}

{% block additional_css %}
<style>
	.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr minmax(15rem,1fr);
	grid-template-rows: auto auto auto;
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	grid-template-areas:
	"issues shortcuts person-search"
	"issues shortcuts key-search"
	"issues statistics statistics";

	}
	.issues { grid-area: issues; }
	.person-search { grid-area: person-search;}
	.key-search { grid-area: key-search;}
	.statistics {grid-area: statistics;}
	.shortcuts-container {grid-area: shortcuts;}


	.box {
		margin-bottom: 0px !important
	}


	@media (max-width: 1024px) {
  		.grid-container {
  			grid-template-columns: 1fr 1fr;
  			grid-template-rows: 1fr auto auto;

		    grid-template-areas:
			"issues shortcuts"
			"person-search key-search"
			"statistics statistics";
	  	}
	}

	@media (max-width: 769px) {
		.columns {
			display: flex;
		}
		.columns .column {
			flex-basis: 0;
			flex-grow: 1;
			flex-shrink: 1;
		}
	  	.statistics .room {
	  		display: none;
	  	}
	  	
	}

	@media (max-width: 640px) {
  		.grid-container {
  			grid-template-columns: 1fr;
  			grid-template-rows: auto;

		    grid-template-areas:
		      'issues'
		      'shortcuts'
		      'person-search'
		      'key-search'
		      'statistics';
	  	}
	}

	
</style>
{% endblock %}