{% extends "keys/base_minimal.html" %}

{% block title %}Rückgabe | Schlüsselsystem{% endblock %}

{% load widget_tweaks %}


{% block content %}
<div class="container is-max-desktop">

    <h1 class="title">Schlüssel zurückgeben</h1>

    <article class="message is-dark">
      <div class="message-body">
        Bitte den Schlüssel {{ issue.key }} nach der Rückgabe zurück in den <strong>{{ issue.key.storage_location }}</strong> legen.
      </div>
    </article>
    <p>

    <form method='post' autocomplete="off">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <article class="message is-danger">
            <div class="message-body">
                {{ form.non_field_errors }}
            </div>
        </article>
        {% endif %}

        <div class="field">
            <label class="label" for="{{ form.in_date.id_for_label }}">{{ form.in_date.label_tag }}</label>
                <div class="control">
                    {% if not form.in_date.errors %}
                        {{ form.in_date|add_class:"input" }}
                    {% else %}
                        {{ form.in_date|add_class:"input is-danger"}}
                    {% endif %}
                </div>
            {% for error in form.in_date.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="buttons is-right">
            <div class="control">
                <a class="button is-light" href={% url 'keys:issue-detail' pk=issue.id %}>Abbrechen</a>
                <input class="button is-primary" type="submit" value="Zurückgeben">
            </div>
        </div>
    </form>
</div>

{% endblock %}

