{% extends "keys/base.html" %}

{% block content %}
    <section class="section">
    <div class="container is-max-desktop">
        <h1 class='title'>Aktuelle Ausleihen</h1>

        {% if issue_list %}
        <table class="table">
            <thead>
                 <th>Schlüssel</th>
                 <th>Person</th>
                 <th>Ausgabedatum</th>
            </thead>

            <tbody>
            {% for issue in issue_list %}
                <tr>
                    <td>
                        <a href="{{ issue.get_absolute_url }}"> {{ issue.keys }}</a>
                    </td>
                    <td>
                        {{ issue.person }}
                    </td>
                    <td>
                        {{ issue.out_date }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>Keine Ausleihen gefunden.</p>
        {% endif %}

        {% if is_paginated %}
            {% include 'keys/pagination.html' %}
        {% endif %}

    </div>
</section>

{% endblock %}
