{% extends "keys/base.html" %}

{% block title %}Ausleihen | Schlüsselsystem{% endblock %}

{%block navbar_items %}
    <a class="navbar-item" href="{% url 'keys:person-list' %}">Personen</a>
    <a class="navbar-item" href="{% url 'keys:room-list' %}">Räume</a>
    <a class="navbar-item" href="{% url 'keys:key-list' %}">Schlüssel</a>
    <a class="navbar-item is-active" href="{% url 'keys:issue-list' %}">Ausleihen</a>
{% endblock %}

{% block content %}
<div class="container is-max-desktop">

     {% if messages %}
        {% for message in messages %}
        <article class="message is-success">
            <div class="message-body">
                {{ message }}
            </div>
        </article>
        {% endfor %}
    {% endif %}


    <nav class="level">
        <!-- Left side -->
        <div class="level-left">
            <div class="level-item">
                <h1 class='title is-2'>Ausleihen</h1>
            </div>
        </div>
        <!-- Right side -->
        <div class="level-right">
            <div class="level-item">
                <div class="field has-addons">
                    <div class="control">
                        <form action={% url 'keys:issue-search-results' %} method='get'>
                            <input class="input" name='q' type="text" placeholder="Schlüsselnr./Person" required>
                    </div>
                    <div class="control">
                        <button type='submit' class="button is-info">
                            Suchen
                        </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="level-item">

            </div>
        </div>
    </nav>

    <div class="tabs is-left is-boxed">
      <ul>
        <li class="is-active">
          <a href={% url 'keys:issue-list-active' %}>
            <span>Aktiv</span>
          </a>
        </li>
        <li>
          <a href={% url 'keys:issue-list-all' %}>
            <span>Alle</span>
          </a>
        </li>
      </ul>
    </div>


    {% if issue_list %}
    <div class="container">
        <div class="b-table">
            <div class="table-wrapper has-mobile-cards">
                <table class="table is-fullwidth is-hoverable">
                    <thead>
                         <th>Person</th>
                         <th>Schlüssel</th>
                         <th>Räume</th>
                         <th>Ausleihdatum</th>

                    </thead>

                    <tbody>
                    {% for issue in issue_list %}
                        <tr onclick="location.href='{{ issue.get_absolute_url }}'">
                       
                            <td data-label="Person">
                                {{ issue.person }}
                            </td>
                            <td data-label="Schlüssel">
                                {{ issue.key }}
                            </td>
                            <td data-label="Räume">
                                {% for room in issue.key.get_rooms %}
                                    {{ room }}{% if not forloop.last %}, {% endif %}
                                {% empty%}keine / nur Verbindungstüren
                                {% endfor %}
                            </td>
                            <td data-label="Ausleihdatum">
                                {{ issue.out_date }}
                            </td>
                            
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% else %}
        <p>Keine Ausleihen gefunden.</p>
    {% endif %}

    {% if is_paginated %}
        {% include 'keys/pagination.html' %}
    {% endif %}
</div>

{% endblock %}
