{% extends "keys/base.html" %}

{% block title %}Ausgabe | Schlüsselsystem{% endblock %}


{% block content %}
<div class="container is-max-desktop">

    {% if messages %}
        {% for message in messages %}
        <article class="message is-success">
            <div class="message-body">
                {{ message }}
            </div>
        </article>
        {% endfor %}
    {% endif %}

    <h1 class='title'>Ausgabe von <a href={% url 'keys:key-detail' pk=issue.key.id %}>{{ issue.key }}</a></h1>

    {% if issue.key.stolen_or_lost %}
        <article class="message is-danger">
            <div class="message-body">
            Schlüssel wurde verloren oder gestohlen!
            </div>
        </article>
    {% endif %}

    <div class="content">
        <p><strong>An:</strong> <a href="{% url 'keys:person-detail' pk=issue.person.id %}">{{ issue.person }}, {{ issue.person.group }}</a></p>
        <p><strong>Zugang zu:</strong> {% for room in issue.key.get_rooms %}{{room}}{% if not forloop.last %}, {% endif %}{% endfor %}</a></p>
        <p><strong>Ausgabedatum:</strong> {{ issue.out_date }}</p>
        {% if issue.in_date %}
            <p><strong>Rückgabedatum:</strong> {{ issue.in_date }}</p>
        {% endif %}

    </div>

    <nav class="level is-max-desktop">
        <div class="level-left">
            <div class="level-item">
                <a class="button is-link is-outlined" href="{% url 'keys:issue-list' %}">Zurück zur Liste</a>
            </div>
        </div>
        <div class="level-right">
             <div class="level-item">
                {% if not issue.key.stolen_or_lost %}
                    <a class="button is-warning" href="{% url 'keys:key-lost' object.key.id  %}" >Verloren/Gestohlen</a>

                {% else %}
                    <a class="button is-warning" href="{% url 'keys:key-found' object.key.id  %}" >Gefunden</a>

                {% endif %}
            </div>
            <div class="level-item">
                <button class="button is-primary" onclick="window.print()">Drucken</button>
            </div>
            <div class="level-item">
                {% if issue.active %}
                    <a class="button is-primary" href="{% url 'keys:issue-return' object.id  %}" >Zurückgeben</a>
                {% endif %}
            </div>
        </div>
    </nav>

</div>

{% endblock %}
