{% extends "keys/base_minimal.html" %}

{% block title %}Rückgabe | Schlüsselsystem{% endblock %}

{% load widget_tweaks %}


{% block content %}
<div class="container is-max-desktop">

    <h1 class="title is-2">{{ issue.key }} zurückgeben</h1>

    <article class="message is-info">
      <div class="message-body">
        Bitte den nach der Rückgabe zurück in den <strong>{{ issue.key.storage_location }}</strong> legen.
      </div>
    </article>
    <p>

    <form method='post' autocomplete="off">
        {% csrf_token %}

        {% if form.non_field_errors %}
        <article class="message is-danger">
            <div class="message-body">
                {{ form.non_field_errors }}
            </div>
        </article>
        {% endif %}

        <div class="field">
            <label class="label" for="{{ form.in_date.id_for_label }}">{{ form.in_date.label_tag }}</label>
            <div class="control">
                {% if not form.in_date.errors %}
                    {{ form.in_date|add_class:"input" }}
                {% else %}
                    {{ form.in_date|add_class:"input is-danger"}}
                {% endif %}
            </div>
            {% for error in form.in_date.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>

        <div class="field">
            <label class="label is-light" for="{{ form.comment.id_for_label }}">Kommentar:</label>
            <div class="control">
                {% if not form.comment.errors %}
                    {{ form.comment |add_class:"textarea has-fixed-size is-light" |attr:"placeholder:Optionaler Kommentar zur Ausleihe..." }}
                {% else %}
                    {{ form.comment |add_class:"textarea has-fixed-size is-danger" }}
                {% endif %}
            </div>
            {% for error in form.comment.errors %}
                <p class="help is-danger">{{ error }}</p>
            {% endfor %}
        </div>


        <div class="buttons is-right">
            <div class="control">
                <a class="button is-light" href={% url 'keys:issue-detail' pk=issue.id %}>Abbrechen</a>
                <input class="button is-primary" type="submit" value="Zurückgeben">
            </div>
        </div>
    </form>
</div>

{% endblock %}

{% block additional_js %}
{% load static %}
<script src={% static 'js/date_format.js' %} type="text/javascript"></script>
<script type="text/javascript">
    var today = new Date();
    var three_days_ago = today - 1000 * 60 * 60 * 24 * 3; // current date's milliseconds - 1,000 ms * 60 s * 60 mins * 24 hrs * (# of days beyond one to go back)
    three_days_ago = new Date(three_days_ago);

    var in_date_field = document.getElementById('id_in_date');
    in_date_field.value = today.format("yyyy-mm-dd");
    in_date_field.max = today.format("yyyy-mm-dd");
    in_date_field.min = three_days_ago.format("yyyy-mm-dd");

</script>
{% endblock %}
