<div class="print" >
    <page size="A4">
        <div class="letter layout">
            <div class="logo">
                <div class="asta_logo">
                    {% include 'keys/asta_logo.html' %}
                </div>
            </div>
            <div class="head">
                <p class="sender">
                    Allgemeiner Studierendenausschuss der TUHH
                </p>
                <svg width="286px" height="2px" viewBox="0 0 286 2" version="1.1" xmlns="http://www.w3.org/2000/svg" >
                    <line x1="1" y1="1" x2="285" y2="1" id="Line" stroke="black"></line>
                </svg>
                <p class="adress">
                    {{ issue.person }}, {{ issue.person.group }}<br>
                    {{ issue.person.university_email }}<br>
                    {{ issue.person.phone_number }}<br>
                </p>
            </div>
            <div class="body">
            
                <h1>Schlüsselausleihe</h1>
                {% if issue.active %}
                    <p>Hiermit bestätige ich, dass mir der {{ issue.key }} am {{ issue.out_date }} ausgehändigt wurde.</p>
                {% endif %}

                {% if not issue.active %}
                    <p>Hiermit bestätige ich, {{ issue.person }}, dass ich den mir am {{ issue.out_date }} ausgeliehenen {{ issue.key }} am {{ issue.in_date }} zurückgegeben habe.</p>
                {% endif %}

                {% if issue.comment %}
                    <p>Kommentar: <span class="comment">{{ deposit.comment }}</span></p>
                {% endif %}
                
                <br>
                <br>

                <svg width="162px" height="2px" viewBox="0 0 162 2" version="1.1" xmlns="http://www.w3.org/2000/svg" >
                    <line x1="1" y1="1" x2="161" y2="1" id="Line" stroke="black"></line>
                </svg>
                <p class="signature">Unterschrift {{ issue.person }}</p>
            
            </div>
            <div class="aside">
                <p class="adress">
                    AStA der TU Hamburg<br>
                    Am Schwarzenberg-Campus 3<br>
                    21075 Hamburg<br>
                    <br>
                    (040) 42878 4160<br>
                    sekreteriat@asta.tuhh.de
                </p>
                <p class="date">
                    Hamburg, {% now "j. F Y" %}
                </p>

                <p class="user">
                    {{ user.first_name }} {{ user.last_name }}<br>
                    {{ user.email }}
                </p>
            </div>

            <div class="reciept">
                <div class="reciept_text">
                    <h2>Quittung</h2>
                    {% if issue.active %}
                        <p>{{ issue.person }}, wurde am {{ issue.out_date }} der {{ issue.key }} ausgehändigt.</p>
                    {% endif %}

                    {% if not issue.active %}
                        <p>{{ issue.person }} hat den ihm am {{ issue.out_date }} ausgehändigten {{ issue.key }} am {{ issue.in_date }} zurückgegeben.</p>
                    {% endif %}
                    <br>
                    <svg width="252px" height="2px" viewBox="0 0 252 2" version="1.1" xmlns="http://www.w3.org/2000/svg" >
                        <line x1="1" y1="1" x2="251" y2="1" id="Line" stroke="black"></line>
                    </svg>
                    <p class="signature">Unterschrift {{ user.first_name }} {{ user.last_name }}</p>
                </div>
                <div class="reciept_logo">
                    <p class="date">
                        {% now "j. F Y" %}
                    </p>
                    <div class="reciept_asta_logo">
                        {% include 'keys/asta_logo.html' %}
                    </div>
                </div>
            </div>
        </div>
    </page>
</div>
