{% extends "keys/base.html" %}

{% block title %} Ausleihen |Schlüsselsystem{% endblock %}

{% block content %}
    <section class="section">
    <div class="container is-max-desktop">
        <nav class="level is-mobile">
            <!-- Left side -->
            <div class="level-left">
                <div class="level-item">
                    <h1 class='title'>{% if not request.GET.r %}Aktuelle {% endif %}Ausleihen</h1>
                </div>
            </div>
            <!-- Right side -->
            <div class="level-right">
                <div class="level-item">
                    <div class="field has-addons">
                        <div class="control">
                            <form action={% url 'keys:issue-search-results' %} method='get'>
                                <input class="input" name='q' type="text" placeholder="Schlüsselnr./Person">
                            </form>
                        </div>
                        <div class="control">
                            <a class="button is-info">
                                Suchen
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        {% if issue_list %}
        <table class="table">
            <thead>
                 <th>Schlüssel</th>
                 <th>Person</th>
                 <th>Ausgabedatum</th>
                 <th>Rückgabedatum</th>

            </thead>

            <tbody>
            {% for issue in issue_list %}
                <tr>
                    <td>
                        <a href="{{ issue.get_absolute_url }}"> {{ issue.key }}</a>
                    </td>
                    <td>
                        {{ issue.person }}
                    </td>
                    <td>
                        {{ issue.out_date }}
                    </td>
                    <td>
                        {{ issue.in_date }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>Keine Ausleihen gefunden.</p>
        {% endif %}

        {% if is_paginated %}
            {% include 'keys/pagination.html' %}
        {% endif %}

        {% if not request.GET.r %}

            <div class="control pt-3">
                <a class="button", href="{% url 'keys:issue-list' %}?r=1">Bereits zurückgegebene anzeigen</a>
            </div>
        {% endif %}
    </div>
</section>

{% endblock %}
