{% extends "keys/base.html" %}

{% block title %}{{ object.get_full_name }} | Schüssel | Schlüsselsystem{% endblock %}


{% block content %}
<section class="section">
    <div class="container is-max-desktop">
        <h1 class='title'>Schüssel Nr. {{ key.number }}</h1>
        <div class="content">
            <ul>
                <li class='text'>
                    <b>Türen:</b>
                    {% for door in object.doors.all %}
                        {{ door|join:" // " }}
                    {% empty %}
                        keine
                    {% endfor %}
                </li>
                <li class='text'><b>Schließsystem:</b> {{ object.locking_system }}</li>
                <li class='text'><b>Lagerort:</b> {{ object.storage_location }}</li>
            </ul>
        </div>
        <div class="buttons is-left">
            <a class="button is-link" href="{% url 'keys:key-list' %}">Zurück zur Liste</a>
        </div>
    </div>
</section>

{% endblock %}
