{% extends "keys/base.html" %}

{% block title %}{{ key.get_full_name }} | Schüssel | Schlüsselsystem{% endblock %}


{% block content %}
<div class="container is-max-desktop">
    <h1 class='title'>
        {% if key.locking_system.method == 'transponder' %}
            Transponder
        {% else %}
            Schüssel
        {% endif %}Nr. {{ key.number }}</h1>
    {% if key.stolen_or_lost %}
        <article class="message is-danger">
            <div class="message-body">
            Schlüssel wurde verloren oder gestohlen!
            </div>
        </article>
    {% endif %}
    {% if key.get_current_issue %}
        <article class="message is-info">
            <div class="message-body">
            Aktuell verliehen an {{ key.get_current_issue.person }}
            </div>
        </article>
    {% endif %}
    <div class="content">

            <p><strong>Schließsystem:</strong> {{ key.locking_system }}</p>
            <p><strong>Lagerort:</strong> {{ key.storage_location }}</p>
            <p><strong>Öffnet folgende Türen:</strong></p>
                <ul>
                {% for door in key.doors.all %}
                    <li>{{ door }}</li>
                {% empty %}
                    keine
                {% endfor %}
                </ul>
    </div>
    <div class="buttons is-left">
        <a class="button is-link" href="{% url 'keys:key-list' %}">Zurück zur Liste</a>
    </div>
</div>
{% endblock %}
