{% extends "keys/base_minimal.html" %}

{% block title %}Gefunden | {{ key }} | Schlüsselsystem{% endblock %}


{% block content %}
<div class="container is-max-desktop">

    <div class="content">
        <h1 class="title is-2">Schlüsselfund melden</h1>

        <p>{{ key }} wurde am {{ key.get_current_issue.out_date }} an {{ key.get_current_issue.person }} verliehen.</p>
        <p>Den Schlüssel nun als nicht mehr Verloren/Gestohlen melden?</p>

        <form method="post">{% csrf_token %}
            <div class="control">
            </div>
        <span class="buttons is-right">
            <a class="button" href={% url 'keys:key-detail' pk=key.id %}>Abbrechen</a >
            <input class="button is-primary" type="submit" value="Gefunden">
        </span>
        </form>
    </div>
</div>
{% endblock %}
