<nav class="pagination pt-3" role="navigation" aria-label="pagination">
    <a class="pagination-previous"
        {% if page_obj.has_previous %}
            href="?page={{ page_obj.previous_page_number }}"
        {% else %}
            title="Dies ist die erste Seite."
            disabled
        {% endif %}>
        Vorherige
    </a>
    <a class="pagination-next"
        {% if page_obj.has_next %}
            href="?page={{ page_obj.next_page_number }}"
        {% else %}
            title="Dies ist die letzte Seite."
            disabled
        {% endif %}>
        Nächste Seite
    </a>
    <ul class="pagination-list">
        {% if page_obj.has_previous %}
            <li>
                <a class="pagination-link" aria-label="Goto page 1" href="?page=1">1</a>
            </li>
            <li>
                <span class="pagination-ellipsis">&hellip;</span>
            </li>
            <li>
                <a class="pagination-link" aria-label="Goto page {{ page_obj.previous_page_number }}" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            </li>
        {% endif %}
            <li>
                <a class="pagination-link is-current" aria-label="Page {{ page_obj.number }}" aria-current="page">{{ page_obj.number }}</a>
            </li>
        {% if page_obj.has_next %}
            <li>
                <a class="pagination-link" aria-label="Goto page {{ page_obj.next_page_number }}" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            </li>
            <li>
                <span class="pagination-ellipsis">&hellip;</span>
            </li>
            <li>
                <a class="pagination-link" aria-label="Goto page {{ page_obj.paginator.num_pages }}" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
            </li>
        {% endif %}
    </ul>
</nav>
