{% extends "keys/base.html" %}

{% block title %}{{ person.get_full_name }} | Person | Schlüsselsystem{% endblock %}


{% block content %}
<div class="container is-max-desktop">
    {% if messages %}
        {% for message in messages %}
        <article class="message is-{{ message.tags }}">
            <div class="message-body">
                {{ message }}
            </div>
        </article>
        {% endfor %}
    {% endif %}


    <h1 class="title">{{ person.get_full_name }}</h1>
          
    <div class="content">
        <p class='text'><strong>Gruppe: </strong>{{ person.group }}</p>
        <p class='text'><strong>Uni Mail: </strong><a href="mailto:{{ person.university_email }}">{{ person.university_email }}</a></p>
        <p class='text'><strong>Private Mail: </strong><a href="mailto:{{ person.private_email }}">{{ person.private_email }}</a></p>
        <p class='text'><strong>Telefon: </strong>{{ person.phone_number }}</p>
        <p class='text'><strong>Kaution: </strong>
        {% if person.has_paid_deposit %}
            <a href={% url 'keys:deposit-detail' pk=person.id %}><span class="tag is-success"><b>{{ person.deposit.amount }} {{ person.deposit.currency }}</b></span></a>
        {% elif person.deposit.active == False %}
            <a href={% url 'keys:deposit-detail' pk=person.id %}><span class="tag is-info"><b>Zurückerhalten</b></span></a> 
        {% else %}
            <span class="tag is-light"><b>nicht bezahlt</b></span>
        {% endif %}
    </div>

    <div class="block">
    <div class="content">
    <h2 class="subtitle is-4">Aktuelle Ausleihen:</h2>

        <ul>
        {% for issue in person.get_active_issues %}
            <li>
                <a href="{% url 'keys:issue-detail' pk=issue.id %}">{% if issue.key.stolen_or_lost %}
                        <span class="tag is-warning"><b>Verloren</b></span> {% endif %}<strong>{{ issue.key }}</strong></a>:
                   [{% for room in issue.key.get_rooms %}
                    <em>{{ room }}</em>
                        {% if not forloop.last %}, {% endif %}
                    {% empty %}
                        keine.
                    {% endfor %}]
            </li>
        {% empty %}
            keine.
        {% endfor %}
        </ul>

    </div>
        <nav class="level">
            <div class="level-lelft">
                <div class="level-item py-3">
                    <div class="field is-grouped is-grouped-left
                    ">
                        <p class="control">
                            <a class="button is-link is-outlined" href="{% url 'keys:person-list' %}">Zurück zur Liste</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <p class="control">
                        <a class="button is-light has-tooltip-bottom" href="{% url 'keys:person-update' pk=person.id  %}">Bearbeiten</a>
                    </p>
                </div>
                <div class="level-item">
                    {% if person.has_paid_deposit and not person.get_active_issues %}
                        <p class="control">
                            <a class="button is-warning" href="{% url 'keys:deposit-return' pk=person.id %}">Kaution zurück</a>
                        </p>
                    {% elif person.has_paid_deposit %}
                        <p class="control">
                            <a class="button is-warning has-tooltip-bottom has-tooltip-arrow" href="{% url 'keys:deposit-return' pk=person.id %}" data-tooltip="Noch offene ausleihen">Kaution zurück</a>
                        </p>
                    {% elif person.deposit.in_datetime %} {% comment %} There alreaedy exists a deposit{% endcomment %}
                        <p class="control">
                            <a class="button is-info" href="{% url 'keys:deposit-delete' pk=person.id %}">Neue Kaution</a>
                        </p>
                    {% else %}
                        <p class="control">
                            <a class="button is-info" href="{% url 'keys:deposit-create' pk=person.id %}">Kaution hinzufügen</a>
                        </p>
                    {% endif%}
                </div>
                <div class="level-item">
                    <p class="control">
                        <a class="button is-primary" href="{% url 'keys:issue-new'  %}?person={{person.id}}">Neue Ausgabe</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
