{% extends "keys/base.html" %}

{% block title %}Ausleihen | Schlüsselsystem{% endblock %}

{% block additional_css %}
    {% load static %}
    <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{%block navbar_items %}
    <a class="navbar-item is-active" href="{% url 'keys:person-list' %}">Personen</a>
    <a class="navbar-item" href="{% url 'keys:room-list' %}">Räume</a>
    <a class="navbar-item" href="{% url 'keys:key-list' %}">Schlüssel</a>
    <a class="navbar-item" href="{% url 'keys:issue-list' %}">Ausleihen</a>
{% endblock %}

{% block content %}
<div class="container is-max-desktop">


    <nav class="level">
        <!-- Left side -->
        <div class="level-left">
            <div class="level-item">
                <h1 class='title is-2'>Personen</h1>
            </div>
        </div>
        <!-- Right side -->
        <div class="level-right noprint">
            <div class="level-item">
                <form action={% url 'keys:person-search-results' %} method='get'>
                    <div class="field has-addons">
                        <div class="control">
                            <input class="input" name='q' type="text" placeholder="Vor-/Nachname/Gruppe" required>
                        </div>
                        <div class="control">
                            <button type='submit' class="button is-info">Suchen</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="level-item">
                <a class='button is-primary noprint' href={% url 'keys:person-add' %}>Neue Person</a>
            </div>
        </div>
    </nav>

    <div class="tabs is-left is-boxed">
      <ul>
        <li>
          <a href={% url 'keys:person-list' %}>
            <span>Alle</span>
          </a>
        </li>
        <li class="is-active">
          <a href={% url 'keys:person-list-group' %}>
            <span>Gruppen</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="container">
        <div class="columns is-multiline">
        {% for group in group_list %}
            {% if group.people.all %}
                <div class="column is-half is-6">
                    <div class="box">
                        <h2 class="title is-4"><a class="has-text-black" href="{% url 'keys:person-search-results'%}?group={{ group }}">{{ group }}</a></h2>
                        <div class="b-table">
                            <div class="table-wrapper has-mobile-cards">
                                <table class="table is-fullwidth is-hoverable">
                                    <thead>
                                         <th>Name</th>
                                         <th>Kaution</th>
                                    </thead>

                                    <tbody>
                                    {% for person in group.people.all %}
                                        <tr data-href={{ person.get_absolute_url }} tabindex="0">
                                            <td data-label="Name">
                                                <a class="subtitle is-6" href={{ person.get_absolute_url }} tabindex="-1">{{ person }}</a>
                                            </td>
                                            <td data-label="Kaution">
                                                {% if person.paid_deposit %}
                                                    <p class="icon has-text-center has-text-success has-tooltip-arrow" aria-label="bezahlt" data-tooltip="Bezahlt">
                                                        <i class="far fa-lg fa-check-circle"></i>
                                                    </p>
                                                {% else %}
                                                    <p class="icon has-text-grey has-tooltip-arrow" aria-label="nicht bezahlt" data-tooltip="Nicht bezahlt">
                                                        <i class="far fa-lg fa-times-circle"></i>
                                                    </p>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% empty %}
                <p>Keine Personen angelegt.</p>
        {% endfor %}
        </div>
    </div>

</div>

{% endblock %}
