{% extends "keys/base.html" %}

{% block title %}{{ person.get_full_name }} | Person | Schlüsselsystem{% endblock %}


{% block content %}
<div class="container is-max-desktop">
    {% if messages %}
        {% for message in messages %}
        <article class="message is-success">
            <div class="message-body">
                {{ message }}
            </div>
        </article>
        {% endfor %}
    {% endif %}

    <div class="block">
    <div class="card">
        <div class="card-header">
            <div class="card-header-title">
                <h1 class="title">{{ person.get_full_name }}</h1>
            </div>
        </div>
        <div class="card-content">
            <div class="columns is-mobile">
                <div class="column is-one-fifth-mobile is-2-tablet is-1-widescreen" >
                    <p class="text has-text-weight-bold has-text-right">Gruppe</p>
                </div>
                <div class="column"><p class=text>{{ person.group }}</p></div>
            </div>
            <div class="columns is-mobile">
                <div class="column is-one-fifth-mobile is-2-tablet is-1-widescreen" >
                    <p class="text has-text-weight-bold has-text-right">Uni Mail</p>
                </div>
                <div class="column"><p class=text>{{ person.university_email }}</p></div>
            </div>
            <div class="columns is-mobile">
                <div class="column is-one-fifth-mobile is-2-tablet is-1-widescreen"><p class="text has-text-weight-bold has-text-right">Private Mail</p></div>
                <div class="column"><p class=text>{{ person.private_email }}</p></div>
            </div>
            <div class="columns is-mobile">
                <div class="column is-one-fifth-mobile is-2-tablet is-1-widescreen"><p class="text has-text-weight-bold has-text-right">Telefon</p></div>
                <div class="column"><p class=text>{{ person.phone_number }}</p></div>
            </div>
            <div class="columns is-mobile">
                <div class="column is-one-fifth-mobile is-2-tablet is-1-widescreen"><p class="text has-text-weight-bold has-text-right">Kaution</p></div>
                <div class="column">
                    {% if person.has_paid_deposit %}
                        <span class="tag is-success"><b>{{ person.deposit.amount }} {{ person.deposit.currency }}</b></span> am {{ person.deposit.in_datetime}}
                    {% elif person.deposit.in_datetime %}
                        <span class="tag is-info"><b>Zurückerhalten</b></span> am {{ person.deposit.out_datetime }}
                    {% else %}
                       <span class="tag is-light"><b>nicht bezahlt</b></span>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="block">
    <div class="content">
    <h2 class="subtitle is-4">Aktuelle ausgeliehene Schlüssel:</h2>

        <ul>
        {% for issue in person.get_active_issues %}
            <li>
                <a href="{% url 'keys:issue-detail' pk=issue.id %}"><strong>Nr. {{ issue.key }}</strong> am {{ issue.out_date }}</a>:
                   [{% for room in issue.key.get_rooms %}
                    <em>{{ room }}</em>
                        {% if not forloop.last %}, {% endif %}
                    {% empty %}
                        keine.
                    {% endfor %}]
            </li>
        {% empty %}
            keine.
        {% endfor %}
        </ul>

    </div>
        <nav class="level">
            <div class="level-lelft">
                <div class="level-item py-3">
                    <div class="field is-grouped is-grouped-left
                    ">
                        <p class="control">
                            <a class="button is-link is-outlined" href="{% url 'keys:person-list' %}">Zurück zur Liste</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <p class="control">
                        <a class="button is-light has-tooltip-bottom" href="{% url 'keys:person-update' pk=person.id  %}">Bearbeiten</a>
                    </p>
                </div>
                <div class="level-item">
                    {% if person.has_paid_deposit and not person.get_active_issues %}
                        <p class="control">
                            <a class="button is-warning" href="{% url 'keys:person-return-deposit' pk=person.id %}">Kaution zurück</a>
                        </p>
                    {% elif person.has_paid_deposit %}
                        <p class="control">
                            <a class="button is-warning has-tooltip-bottom has-tooltip-arrow" data-tooltip="noch offene ausleihen" disabled>Kaution zurück</a>
                        </p>
                    {% elif person.deposit.in_datetime %} {% comment %} There alreaedy exists a deposit{% endcomment %}
                        <p class="control">
                            <a class="button is-info" href="{% url 'keys:person-update-deposit' pk=person.id %}">Kaution hinzufügen</a>
                        </p>
                    {% else %}
                        <p class="control">
                            <a class="button is-info" href="{% url 'keys:person-create-deposit' pk=person.id %}">Kaution hinzufügen</a>
                        </p>
                    {% endif%}
                </div>
                <div class="level-item">
                    <p class="control">
                        <a class="button is-primary" href="{% url 'keys:issue-new'  %}?person={{person.id}}">Neue Ausgabe</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
