{% extends "keys/base.html" %}

{% block title %}{{ person.get_full_name }} - Übersicht{% endblock %}

{%block navbar_items %}
    <a class="navbar-item is-active" href="{% url 'keys:person-list' %}">Personen</a>
    <a class="navbar-item" href="{% url 'keys:room-list' %}">Räume</a>
    <a class="navbar-item" href="{% url 'keys:key-list' %}">Schlüssel</a>
    <a class="navbar-item" href="{% url 'keys:issue-list' %}">Ausleihen</a>
{% endblock %}

{% block content %}
<div class="container is-max-desktop">
    {% if messages %}
        {% for message in messages %}
        <article class="message is-{{ message.tags }}">
            <div class="message-body">
                {{ message }}
            </div>
        </article>
        {% endfor %}
    {% endif %}


    <div class="level">
        <div class="level-right">
            <div class="level-item">
                <h1 class="title is-2">{{ person.get_full_name }}</h1>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <p class="control">
                    <button class="button is-info" id="print">
                        <span class="icon">
                            <i class="fas fa-print"></i>
                        </span>
                        <span>
                            <p>Übersicht drucken</p>
                        </span>
                    </button>
                </p>
            </div>
        </div>
    </div>
    <div class="content">
        <p class='text'><strong>Gruppe: </strong><a href="{% url 'keys:person-search-results' %}?group={{ person.group }}">{{ person.group }}</a></p>
        <p class='text'><strong>Uni Mail: </strong><a href="mailto:{{ person.university_email }}">{{ person.university_email }}</a></p>
        <p class='text'><strong>Private Mail: </strong><a href="mailto:{{ person.private_email }}">{{ person.private_email }}</a></p>
        <p class='text'><strong>Telefon: </strong>{{ person.phone_number }}</p>
        <p class='text'>
            <strong>
                {% if person.deposits.count <= 1 %}
                    Kaution:
                {% else %}
                    Kautionen:
                {% endif%}
            </strong>

        {% for deposit in person.deposits.all %}
            {% if deposit.state == 'in' %}
                <a href={% url 'keys:deposit-detail' pk_p=person.id pk_d=deposit.id %}><span class="tag is-success"><b>{{ deposit.amount }} {{ deposit.currency }}</b></span></a>
            {% elif deposit.state == 'retained' %}
                <a href={% url 'keys:deposit-detail' pk_p=person.id pk_d=deposit.id %}><span class="tag is-warning"><b>Einbehalten</b></span></a>
            {% elif deposit.state == 'out' %}
                <a href={% url 'keys:deposit-detail' pk_p=person.id pk_d=deposit.id %}><span class="tag is-light"><b>Zurückerhalten</b></span></a>
            {% else %}
                <a href={% url 'keys:deposit-detail' pk_p=person.id pk_d=deposit.id %}><span class="tag is-danger"><b>Fehler!</b></span></a>
            {% endif %}
        {% empty %}
            <span class="tag is-light"><b>Nicht Bezahlt</b></span></a>
        {% endfor %}
    </div>

    <div class="content">
        <h2 class="subtitle is-4 mb-1">Aktuelle Ausleihen:</h2>
        <ul class="mt-2">
        {% for issue in person.get_active_issues %}
            {% spaceless %}
                <li>
                    <a href={% url 'keys:issue-detail' pk=issue.id %}>
                        {% if issue.key.stolen_or_lost %}
                            <span class="tag is-warning">
                                <b>Verloren</b>
                            </span>&nbsp;
                        {% endif %}
                        <strong>{{ issue.key }}</strong></a>: [
                            {% for room in issue.key.get_rooms %}
                                <em>
                                    {{ room }}{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} und {% else %}, {% endifequal %}{% else %}{% endif %}
                                </em>
                            {% empty %}
                                <em>
                                    keine&nbsp;/ nur&nbsp;Verbindungstüren
                                </em>
                            {% endfor %}
                        ]
                </li>
                {% endspaceless %}
        {% empty %}
            keine.
        {% endfor %}
        </ul>

        {% if person.get_inactive_issues %}
            <details>
                <summary>
                    <span class="title is-5">Vergangene Ausleihen:</span>
                </summary>

                <ul>
                {% for issue in person.get_inactive_issues %}
                    {% spaceless %}
                    <li>
                        <a href={% url 'keys:issue-detail' pk=issue.id %}>
                            {% if issue.key.stolen_or_lost %}
                                <span class="tag is-warning">
                                    <b>Verloren</b>
                                </span>&nbsp;
                            {% endif %}
                            <strong>{{ issue.key }}</strong></a>: [
                                {% for room in issue.key.get_rooms %}
                                    <em>
                                        {{ room }}{% if not forloop.last %}{% ifequal forloop.revcounter 2 %} und {% else %}, {% endifequal %}{% else %}{% endif %}
                                    </em>
                                {% empty %}
                                    <em>
                                        keine&nbsp;/ nur&nbsp;Verbindungstüren
                                    </em>
                                {% endfor %}
                            ]
                    </li>
                    {% endspaceless %}
                {% empty %}
                    keine.
                {% endfor %}
                </ul>
            </details>
        {% endif %}
    </div>
        <nav class="level">
            <div class="level-lelft">
                <div class="level-item py-4">
                    <div class="field is-grouped is-grouped-left
                    ">
                        <p class="control">
                            <a class="button" href={% url 'keys:person-list' %}>Zurück zur Liste</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="level-right">
                <div class="level-item">
                    <p class="control">
                        <a class="button is-light" href={% url 'keys:person-update' pk=person.id  %}>Kontakt bearbeiten</a>
                    </p>
                </div>
                <div class="level-item">
                    {% if person.get_active_deposit and not person.get_active_issues %}
                       <div class="dropdown is-hoverable">
                            <div class="dropdown-trigger">
                                <button class="button is-warning" aria-haspopup="true" aria-controls="dropdown-menu">
                                    <span>Kaution</span>
                                    <span class="icon is-small">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content has-background-warning">
                                    <a href={% url 'keys:deposit-return' pk_p=person.id pk_d=person.get_active_deposit.id %} class="dropdown-item has-background-warning">
                                        Zurückgeben
                                    </a>
                                    <hr class="dropdown-divider">
                                    <a href={% url 'keys:deposit-retain' pk_p=person.id pk_d=person.get_active_deposit.id %} class="dropdown-item has-background-warning">
                                        Einbehalten
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% elif person.get_active_deposit %}
                        <div class="dropdown is-hoverable">
                            <div class="dropdown-trigger">
                                <button class="button is-warning" aria-haspopup="true" aria-controls="dropdown-menu">
                                    <span>Kaution</span>
                                    <span class="icon is-small">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                    </span>
                                </button>
                            </div>
                            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                <div class="dropdown-content has-background-warning">
                                    <a tabindex="0" href={% url 'keys:deposit-return' pk_p=person.id pk_d=person.get_active_deposit.id %} class="dropdown-item has-background-warning has-tooltip-top has-tooltip-arrow" data-tooltip="Noch offene ausleihen">
                                        Zurückgeben
                                    </a>
                                    <hr class="dropdown-divider">
                                    <a tabindex="0" href={% url 'keys:deposit-retain' pk_p=person.id pk_d=person.get_active_deposit.id %} class="dropdown-item has-background-warning">
                                        Einbehalten
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% elif person.deposit.state == 'retained' %}
                        <p class="control">
                            <a class="button is-warning has-tooltip-right has-tooltip-arrow" href={% url 'keys:deposit-create' person.id %}>Neue Kaution</a>
                        </p>
                    {% elif person.deposit.state == 'out' %} {% comment %} There alreaedy exists a deposit{% endcomment %}
                        <p class="control">
                            <a class="button is-info" href={% url 'keys:deposit-delete' pk_p=person.id pk_d=deposit.id %}>Neue Kaution</a>
                        </p>
                    {% else %}
                        <p class="control">
                            <a class="button is-info" href={% url 'keys:deposit-create' pk=person.id %}>Kaution hinzufügen</a>
                        </p>
                    {% endif%}
                </div>
                <div class="level-item">
                    <p class="control">
                        {% if keys.availible %}
                        <a class="button is-primary" href={% url 'keys:issue-new' person.id %}>Neue Ausleihe</a>
                        {% else %}
                        <a class="button is-primary has-tooltip-arrow" data-tooltip="Keine freien Schlüssel verfügbar." disabled>Neue Ausleihe</a>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


<!-- Print -->
{% block additional_css %}
    {% load static %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" media="print" href="{% static 'css/print.css' %}">
    <link href="{% static 'fontawesome_free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
{% endblock %}

{% block additional_js %}
    {% load static %}
    <script src={% static 'js/print.js' %} type="text/javascript"></script>
{% endblock %}

{% block print %}
    {% include 'keys/person_detail_print.html' %}
{% endblock %}

