{% extends "keys/base.html" %}

{% block title %}Personenliste | Schlüsselsystem {% endblock %}

{% block content %}
<div class="container is-max-desktop">

    {% if messages %}
        {% for message in messages %}
        <article class="message is-success">
            <div class="message-body">
                {{ message }}
            </div>
        </article>
        {% endfor %}
    {% endif %}



    <nav class="level">
        <!-- Left side -->
        <div class="level-left">
            <div class="level-item">
                <h1 class='title'>Personen</h1>
            </div>
        </div>
        <!-- Right side -->
        <div class="level-right noprint">
            <div class="level-item">
                <div class="field has-addons">
                    <div class="control">
                        <form action={% url 'keys:person-search-results' %} method='get'>
                            <input class="input" name='q' type="text" placeholder="Vor-/Nachname" required>
                    </div>
                    <div class="control">
                        <button type='submit' class="button is-info">
                            Suchen
                        </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="level-item">
                <a class='button is-primary noprint' href={% url 'keys:person-add' %}>Neue Person</a>
            </div>
        </div>
    </nav>

    {% if people %}
        <div class="container">
            <div class="b-table">
                <div class="table-wrapper has-mobile-cards">
                    <table class="table is-fullwidth is-hoverable">
                        <thead>
                             <th>Name</th>
                             <th>Uni-Mail</th>
                             <th>Gruppe</th>
                             <th>Kaution bezahlt</th>
                        </thead>

                        <tbody>
                        {% for person in people %}
                            <tr style="cursor:pointer;" onclick="location.href='{{ person.get_absolute_url }}'">
                                <td data-label="Name">
                                    {{ person }}
                                </td>
                                <td data-label="Uni-Mail">
                                    {{ person.university_email }}
                                </td>
                                <td data-label="Gruppe">
                                    {{ person.group }}
                                </td>
                                <td data-label="Kaution bezahlt">
                                    {{ person.deposit.in_datetime|date:"SHORT_DATE_FORMAT"|default:'-' }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    {% else %}
        <p>Keine Personen angelegt.</p>
    {% endif %}

    {% if is_paginated %}
            {% include 'keys/pagination.html' %}
    {% endif %}

</div>
{% endblock %}
