/* Placing the footer at the bottom */
body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
}


/* Table rows show clickable cursor*/
table > tbody > tr {
	cursor:pointer;
}


.tag {
	margin-top: 6px;
	margin-bottom: 6px;
}


/* Dashboard Grid */
.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr minmax(15rem,1fr);
	grid-template-rows: auto auto auto;
	grid-column-gap: 16px;
	grid-row-gap: 16px;
	grid-template-areas:
	"issues shortcuts person-search"
	"issues shortcuts key-search"
	"issues statistics statistics";

}
.issues { grid-area: issues; }
.person-search { grid-area: person-search;}
.key-search { grid-area: key-search;}
.statistics {grid-area: statistics;}
.shortcuts-container {grid-area: shortcuts;}


.box {
	margin-bottom: 0px !important
}


@media (max-width: 1024px) {
	.grid-container {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr auto auto;

    	grid-template-areas:
		"issues shortcuts"
		"person-search key-search"
		"statistics statistics";
	}
}

@media (max-width: 769px) {
	.grid-container .columns {
		display: flex;
	}
	.grid-container .columns .column {
		flex-basis: 0;
		flex-grow: 1;
		flex-shrink: 1;
	}
  	.grid-container .statistics .room {
  		display: none;
  	}
  	
}

@media (max-width: 640px) {
		.grid-container {
			grid-template-columns: 1fr;
			grid-template-rows: auto;

	    grid-template-areas:
	      'issues'
	      'shortcuts'
	      'person-search'
	      'key-search'
	      'statistics';
  	}
}


/* Adjusting padding for mobile devices with a "notch" */
.safe-nav {
 	padding-left: max(12px, env(safe-area-inset-left));
    padding-right: max(12px, env(safe-area-inset-right));
    padding-right: 12px

}

/* Fixing Navbar behavior*/
.navbar-brand > .logo {
	margin-left: 0px;
}


.navbar-end > .navbar-item {
	padding-right: 0px;
	margin-right: 0px;
}

@media screen and (min-width: 758px) and (max-width: 1023px) {
	.navbar-brand > .logo {
		padding-left: 12px !important;
	}
	.navbar-end > .navbar-item {
		padding-right: 12px !important;
	}
}

@media screen and (max-width: 768px) {
	.navbar-brand > .logo {
		padding-left: 12px !important;
	}
	.navbar-end > .navbar-item {
		padding-right: 12px !important;
	}
	.safe-nav {
		padding: 0px !important;
	}
}

.safe-body {
 	padding-left: max(32px, env(safe-area-inset-left));
    padding-right: max(32px, env(safe-area-inset-right));
}

/* Dont show printing stuff on screens*/
.print {
    display: none;
}
