/* Fonts */
h1 {
    font-family: Ubuntu;
    font-size: 24px;
    font-weight: 700;
    line-height: 26.4px;
}
h2 {
    font-family: Ubuntu;
    font-size: 18px;
    font-weight: 700;
    line-height: 15.4px;
}
p {
    font-family: Ubuntu;
    font-weight: 400;
    line-height: 20px;
    margin: 0.3rem;
}
li {
    font-family: Ubuntu;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4rem;
}

.comment {
    font-family: Ubuntu;
    font-weight: 400;
    line-height: 20px;
    font-style: italic;
}

nav, .main, footer {
    display: none;
}

body {
    margin: 0px;
    background: white;
}

.print {
    display: block;
}

page {
    display: block;
    font-size: 12pt;
    color: black;
    margin: 0px;
    margin-bottom: 0.5cm;
}

.letter {
    padding-left: 0.7cm;
    padding-right: 0cm;
    padding-top: 0.3cm;
}

.layout {
    display: grid;
    grid-template-columns: 2fr 0.8fr 1.2fr;
    grid-template-rows: 0.5fr 0.5fr 2.5fr 1fr;
    gap: 0.25cm 0.25cm;
    grid-template-areas:
        ". . logo"
        "head . aside"
        "body body aside"
        "reciept reciept reciept";
}
.logo {
    grid-area: logo;
    position: relative;
}

.asta_logo {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-100%, -50%);
}

.head {
    grid-area: head;
}

.head > .sender {
    margin-bottom: 0px;
    font-size: 10pt;
    transform: translate(0%, +50%);
}

.head > .adress {
    margin-top: 0px;
}

.body {
    grid-area: body;
}

.signature {
    margin-top: 0px;
    font-size: 10pt;
}

.aside {
    grid-area: aside;
    font-size: 10pt;
    text-align: right;
    position: relative;
}

.aside > .user {
    position: absolute;
    bottom: 0;
    right: 0;
}

.date {
    font-size: 10pt;
    text-align: right;
}

.reciept {
    grid-area: reciept;
    border-top-style: dashed;
    border-top-width: 2px;
    display: grid;
    grid-template-columns: 2fr 0.8fr 1.2fr;
    grid-template-rows: 1fr;
    gap: 0.25cm 0.25cm;
    grid-template-areas:
        "reciept_text reciept_text reciept_logo";
}

.reciept_text {
    grid-area: reciept_text;
    font-size: 10pt;

}

.reciept_logo {
    grid-area: reciept_logo;
    position:relative;
}

.reciept_asta_logo {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

